html{
	height: 100%;
}
	

body{
	height: 100%;
	margin:0;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.b_mask{
	height: 100%;
	border: solid 1px ;
	background:rgba(0,0,0,0.8);
}


.main{
	width: 79.2%;
	min-height: 81.5%;
	margin: 4.7% auto;
	border-radius: 10px;
	display: flex;
	border: solid 1px;
	overflow: hidden;

}
.sketch{
	flex-shrink: 0;
	flex-basis: 59.5%;
	background-image: url("../images/background.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column-reverse;
}

.intro{
	flex-basis: 40.5%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	
}



.cityName{
	border-bottom: solid 2px rgba(255,255,255,0.5);
	color: #fff;
	margin-bottom : 17.016%;
	margin-left: 9.11%;
	box-shadow: 0px -1px 1px  purple inset;
}
h1{
	font-size: 110px;
	line-height: 110px;
	width: 70%;
	padding: 0;
	margin:0;
}




.article{
	padding:10% 20% 10% 10%;
	background-image: url("../images/intro_bkg.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-color: white;
	flex-grow: 2;
}

.featureName{
	margin-bottom: 0px;
}
.support{
	color: #09b4ec;
	margin-bottom: 40px;
}

.text{
	color: #989ba0;
}
.pics{
	height: 0;
	padding-bottom: 25%;
	background-color: #222629;
	color: white;
    }


.pics img,.pics p{
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

.pics p{
	text-align: center;
	padding-top: 6%;
}


